<%= render_page_title "#{@website.name}#{t('model.list', model: ChannelGroup.model_name.human)}" do |toolbar|
  toolbar << {
    name: render_icon_and_text_content('icon-plus-sign', t('model.create', :model => ChannelGroup.model_name.human)),
    url: new_website_channel_group_path(@website),
    options: {class: 'button button-primary'}
  }
end %>

<article>
  <div class="padding">
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to render_icon_and_text_content('icon-trello', ChannelGroup.model_name.human), website_data_path(@website, :channel_group) %></li>
      <li><%= link_to render_icon_and_text_content('icon-sitemap', Channel.model_name.human), website_data_path(@website, :channel) %></li>
    </ul>
  </div>
</article>

<%= render partial: 'channel_groups/channel_groups_grid' %>
