<div class="grid" id="master-plan-summary">
  <div class="grid-row">
    <div class="cell3">项目预算（元）：<h4 class="budget"></h4></div>
    <div class="cell3">合同额（元）：<h4 class="contract_price"> ()</h4></div>
    <div class="cell3">预估利润（元）：<h4 class="profit"> ()</h4></div>
    <div class="cell3">配送比率：（实际 | 媒体 | 公司）<h4><span class="reality_bonus_ratio"></span> | <span class="medium_bonus_ratio"></span> | <span class="company_bonus_ratio"></span> </h4></div>
  </div>
</div>
