<table class="plan-summary">
  <tr>
    <th>项目预算</th>
    <th>合同额(媒体-公司)</th>
    <th>预估利润</th>
  </tr>
  <tr>
    <td><%= number_to_currency(@master_plan.project.budget, unit: '￥', precision: 0) %></td>
    <td>
      <div class="label-group master-plan-value-group">
        <span class="item medium"><%= number_to_currency(@master_plan.medium_contract_price, unit: '￥', precision: 0) %></span>
        <span class="item company"><%= number_to_currency(@master_plan.company_contract_price, unit: '￥', precision: 0) %></span>
      </div>
    </td>
    <td><%= number_to_currency(@master_plan.profit, unit: '￥', precision: 0) %></td>
  </tr>
</table>

