<div class="padding">
  <table class="plan-summary" id="master-plan-summary">
    <tr>
      <th style="width:25%;">项目预算</th>
      <th>合同额(媒体-公司)</th>
      <th style="width:25%;">预估利润</th>
    </tr>
    <tr>
      <td><span class="project-budget"><strong><%= number_to_currency(@master_plan.project.budget, unit: '￥', precision: 0) %></strong></span></td>
      <td>
        <div class="label-group master-plan-value-group">
          <span class="item medium medium-net-cost">
            <%= number_to_currency(@master_plan.medium_net_cost, precision: 0, unit: '￥') %>
          </span>
          <span class="item company company-net-cost">
            <%= number_to_currency(@master_plan.company_net_cost, precision: 0, unit: '￥') %>
          </span>
        </div>
      </td>
      <td><span class="profit"><strong><%= number_to_currency(@master_plan.profit, unit: '￥', precision: 0) %></strong></span></td>
    </tr>
  </table>
</div>
