
<ul class="nav nav-tabs">
  <% @master_plan.medium_master_plans.each do |medium_master_plan| %>
    <% if medium_master_plan.medium_id == @selected_medium_master_plan.medium_id %>
    <li class="active">
    <% else %>
    <li>
    <% end %>
      <%= link_to(
        [
          content_tag(:span, medium_master_plan.medium_name),
          (content_tag(:span, [
            content_tag(:i, nil, class: 'icon-gift'),
            '打包价'
            ].join(' ').html_safe, class: 'badge badge-warning') if medium_master_plan.is_combo?)
        ].join(' ').html_safe,
        client_project_master_plan_path(medium_id: medium_master_plan.medium_id)
      )%>
    </li>
  <% end %>

  <div class="btn-toolbar">
    <%= link_to '改成打包价', medium_master_plan_get_combo_path(@selected_medium_master_plan), class: 'btn btn-warning', method: :post unless @selected_medium_master_plan.is_combo? %>
    <%= link_to '改回正常报价', medium_master_plan_out_of_combo_path(@selected_medium_master_plan), class: 'btn btn-inverse', method: :post if @selected_medium_master_plan.is_combo? %>
  </div>

</ul>


