<%= render_page_title "<strong>#{@spot_category.medium.name}</strong> #{@spot_category.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => SpotCategory.model_name.human)}",
    url: medium_spot_categories_path(@medium),
    options: {class: 'button'}
  }
end %>

<article>
  <div class="padding">
    <p>
      <%= @spot_category.description %>
    </p>
  </div>
</article>

