<%= render_page_title "#{@spot_category.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => SpotCategory.model_name.human)}",
    url: spot_categories_path,
    options: {class: 'button'}
  }
end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>
        属性
      </th>
      <th>
        值
      </th>
    </tr>
  </thead>
  <tbody>
      </tbody>
  <tfoot>

  </tfoot>
</table>
