<div data-pjax-container>

<%= render_page_title "<strong>#{@project.client.name}</strong> #{@project.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{t('model.list', :model => Project.model_name.human)}",
    url: projects_path,
    options: {class: 'button'}
  }

  toolbar << {
    name: "查看已选择的点位 <span class=\"badge badge-info\">#{@selected_spot_ids.count}</span>".html_safe,
    url: view_project_cart_path(@project, spots: @selected_spots_params),
    options: {class: 'button button-primary'}
  }
end %>

<article>
  <div class="padding">
    <div class="well">
      <%= render partial: 'spots/filter/spots_filter', locals: {websites: @websites, spots_filter: @spots_filter} %>
    </div>
  </div>
</article>

<%= render partial: 'spots/filter/spots_narrow_grid', locals: {spots: @spots_grid} if @spots_grid %>

</div>

