<div data-pjax-container>

<%= render_page_title "<strong>#{@master_plan.project.client.name}</strong> #{@master_plan.project.name}: #{@master_plan.name}" do |toolbar|
  toolbar << {
    name: "#{t('labels.back_to')}#{@master_plan.project.name}#{t('model.show', :model => Project.model_name.human)}",
    url: project_path(@master_plan.project_id),
    options: {class: 'button'}
  }
end %>

<% if @candidate_websites %>

<article>
  <div class="padding">

    <ul class="nav nav-tabs">
      <% @candidate_websites.each do |website| %>
      <% if website.id == @selected_website_id.to_i %>
      <li class="active">
      <% else %>
      <li>
      <% end %>
        <%= link_to website.name, spot_plan_path(website_id: website.id, master_plan_id: @master_plan) %>
      </li>
      <% end %>
    </ul>

    <div class="grid">
      <div class="grid-row">
        <div class="cell6"></div>
        <div class="cell6">
          <div class="btn-group pull-right" data-toggle="buttons-radio">
            <% @months.each do |m| %>
            <button type="button" class="btn"><%= "#{m[:year]}年#{m[:month]}月" %></button>
            <% end %>
            <button type="button" class="btn">全部显示</button>
          </div>
        </div>
      </div>
    </div>

    <%= render partial: 'spot_plan_items_grid', locals: {spot_plan: @master_plan, selected_website_id: @selected_website_id} %>
  </div>

</article>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#" class="modify_count" data-skip-pjax="true">调整数量</a></li>
  </ul>
</div>

<% end %>

</div>

<% content_for :js do %>
<% javascript_include_tag "spot_plan" %>
<% end %>
