<tr class="selectors">
  <td class="title">售卖方式</td>
  <td>
    <ul class="nav nav-pills">
      <% spots_filter.unit_types.each do |unit_type| %>
      <%= render_selector_item(
            :unit_type,
            unit_type,
            t("activerecord.attributes.spot.unit_type.#{unit_type}"),
            {
              medium_id: spots_filter.selected_medium.nil? ? nil : spots_filter.selected_medium.id,
              spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id,
              channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
              unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
            }) %>
      <% end %>
    </ul>
  </td>
</tr>
