<tr class="selectors">
  <td class="title">刊例类型</td>
  <td>
    <ul class="nav nav-pills">
      <% spots_filter.spot_categories.each do |spot_category| %>
      <%= render_selector_item(
        :spot_category_id,
        spot_category.id,
        spot_category.name,
        {
          medium_id: spots_filter.selected_medium.id,
          spot_category_id: spots_filter.selected_spot_category.nil? ? nil : spots_filter.selected_spot_category.id,
          channel_id: spots_filter.selected_channel.nil? ? nil : spots_filter.selected_channel.id,
          unit_type: spots_filter.selected_unit_type.nil? ? nil : spots_filter.selected_unit_type
        }) %>
      <% end %>
    </ul>
  </td>
</tr>
