<div class="narrow-center-page">

<%= render_cell(
  :page_title,
  :show,
  data:
  {
    name: "正在给<strong>#{@project.name} #{Payment.model_name.human}</strong> <small>#{t('simple_form.required.text') }</small>",
    toolbar: {
      left:
      [
        render_cell(
          :button,
          :show,
          data:
          {
            name: fa_icon('level-up rotate-270'),
            url: project_payments_path,
            options:
            {
              class: 'btn',
              rel: 'tooltip',
              title: "#{t('labels.back_to')}#{@project.name}#{t('model.list', :model => Payment.model_name.human)}",
            }
          }
        )
      ]
    }
  }
)
%>

<%= render 'form' %>

</div>
