@import "variables";
@import 'bootstrap';
@import 'font-awesome';


@import 'bootstrap-datetimepicker';
@import 'bootstrap-editable';
@import 'retina';

@import 'bootstrap-overwrites';

ul, ol {
  margin: 0px; padding: 0px;
}

.panel {
  padding: $normalPadding;
  background: $navTabBackgroundColor;
}
