/*
 *= require jquery.ui.all
 *= require wice_grid
 *= require tida_template
 *= require icon_grid
 *= require filter
 */

html {
  width: 100%; height: 100%;
  overflow-x: hidden;
}

#spot-candidates-panel {
  overflow-y: auto;
  bottom: 50px;
}

.pjax-loading-dialog.fade, .pjax-loading-dialog.fade.in {
  -webkit-transition: opacity .2s linear, none;
  -moz-transition: opacity .2s linear, none;
  -ms-transition: opacity .2s linear, none;
  -o-transition: opacity .2s linear, none;
  transition: opacity .2s linear, none;
  top: 50%;
}

.pjax-loading-dialog .modal-body {
  padding-top: 20px;
  text-align: center;
}

.pjax-loading-dialog .modal-body p {
  padding-top: 10px;
}

.spot-day-count-text-field {
  width: 2em;
}
