/*
 *= require jquery.ui.all
 *= require wice_grid
 *= require tida_template
 *= require icon_grid
 *= require shopping_selector
 */

html {
  width: 100%; height: 100%;
  overflow-x: hidden;
}

#spot-candidates-panel {
  overflow-y: auto;
  bottom: 50px;
}
