#spot-plan-table {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;

  .master-plan-item-row {
    td {
      padding: 0px; margin: 0px;
      text-align: center;

      &.sun {
        background: #ddd;
      }

      &.sat {
        background: #ddd;
      }

      &.warning {
        color: #ff0000;
        font-weight: bold;
      }
    }

    .spot-plan-item-cell, .disabled {
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    .spot-plan-item-cell {
      cursor: pointer;

      span {
        display: block;
        width: 25px;
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
    }

    .disabled {
      cursor: crosshair;
    }
  }

  .spot-plan-calendar-month-row {
    height: 30px;
    background: #179ac8;
    text-align: right;
    padding: 0px 10px;
    font: {
      size: 21px;
      weight: bold;
    }
    color: white;
    td {
      padding: 0px;
      background: #179ac8;
      text-align: center;

      &.disabled {
        color: #60b7d6;
      }
    }
  }

  .spot-plan-calendar-days-row {
    td {
      padding: 0px;
      width: 25px;
      text-align: center;
      color: #ccc;

      &.sun {
        background: #ddd;
        color: white;
      }

      &.sat {
        background: #ddd;
        color: white;
      }

      &.calendar-item {
        color: #888;
      }
    }
  }

}
