$navbar-highlight-color: $logo-blue;

body {
  padding-top: 50px;
}

.nav {

  .open {
    > a, > a:hover, > a:focus {
      // background-color: $navbar-background-color;
      // color: $navbar-fore-hover-color;
    }
  }
}

@mixin navbar-highlight-link {
  @include box-shadow(0px -5px 0px $navbar-highlight-color inset);
  text-decoration: none !important;
}

.navbar {
  border: none;

  .navbar-nav {
    padding-left: $big-space;
    padding-right: $big-space;

    > li {
      > a {
        &:hover, &:focus {
          @include navbar-highlight-link;
        }
      }

      &:hover {
        >.dropdown-menu {
          display: block;
        }
      }

      &.open {
        > a {
          @include navbar-highlight-link;
        }
      }

      &.active {
        > a {
          @include navbar-highlight-link;
        }
      }
    }
  }


  .navbar-header {
    .navbar-brand {
      display: block;
      width: 40px; height: 40px;
      @include at2x('logo_40', 40px, 40px, '.png');

      > span {
        display: none;
      }
    }
  }
}

.dropdown-menu {
  border-radius: 0px;
  font-size: 12px !important;
  > li {
    > a {
      padding-top: $tiny-space;
      padding-bottom: $tiny-space;

      > i {
        color: #999;
      }

      &:hover, &:focus {
        background-color: $logo-blue;
        text-decoration: none !important;
        > i {
          color: white;
        }
      }
    }
  }

  > .dropdown {
    > a {
      > .fa-angle-right {
        position: absolute;
        right: $big-space;
      }
    }
    > .dropdown-menu {
      left: 100%;
      position: absolute;
      top: 0;
      visibility: hidden;
      margin-top: -2px;

      &.right {
        left: auto;
        right: 100%;
      }

      &:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
      }

      &:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
      }
    }

    &:hover {
      > .dropdown-menu {
        visibility: visible;
        display: block;
      }
    }
  }
}
